@import '../../Tools/variables.scss';
@import '../../Tools/mixins.scss';

.listing-info-container {
    margin: 0 100px;
    padding: 40px 0;
    @include flex ($justify: space-between, $gap: 0);
    .listing-info {
        @include flex ($direction: column, $gap: 15px);
        h1 {
            @include text ($size: 36px)
        }
    }
    h2 {
        @include text
    }
    .tags-container {
        margin-top: 15px;
        @include flex;
        .tags {
            background-color: $main-color;
            padding: 5px;
            width: 150px;
            text-align: center;
            border-radius: 10px;
            @include text ($size: 14px, $color: $white)
        }
    }
    .host-info {
        @include flex ($direction: column, $justify: space-between, $align: flex-end, $gap: 0);
        .host {
            text-align: right;
            @include flex ($align: center, $gap: 15px);
            img {
                border-radius: 50%;
                height: 65px;
                width: 65px;
            }
        }
        .rating {
            @include flex ($gap: 15px)
        }
    }
}
.dropdown-cont {
    margin: 0 100px;
    @include flex ($justify: space-between, $gap: 70px);
}