@import '../../Tools/variables.scss';
@import '../../Tools/mixins.scss';

.card-container-bg {
    background-color: $light-grey;
    padding: 50px;
    margin: 40px 100px 0 100px;
    border-radius: 25px;
    @include flex ($direction: column, $justify: center, $align: center, $gap: 0);
    .card-container {
        @include flex ($justify: space-around, $gap: 2%);
        flex-wrap: wrap;
        max-width: 1140px;
    }
    @media screen and (max-width: $mobile) {
        background-color: $white;
        margin: 0 20px;
        padding: 0;
        .card-container {
            @include flex ($direction: column, $justify: center, $gap: 0);
            width: 100%;
        }
    }
}


