@import "../../Tools/variables.scss";
@import '../../Tools/mixins.scss';

.header {
    padding: 40px 100px;
    @include flex ($justify: space-between, $align: center, $gap: 0);
    img {
        width: 180px;
    }
    div {
        width: 250px;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            @include text ($size: 24px);
            &:hover {
                text-decoration: underline;
            }
        }
    }
    @media screen and (max-width: $mobile) {
        padding: 20px;
        img {
            width: 115px;
        }
        div{
            justify-content: flex-end;
            gap: 15px;
           a {
            @include text ($size: 12px);
            text-transform: uppercase;
            } 
        }
        
    }
}