@import './variables.scss';

@mixin text ($size: 18px, $weight: $regular, $color: $main-color, $margin: 0) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    margin: $margin;
}

@mixin flex ($direction: row, $justify: flex-start, $gap: 10px, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    gap: $gap;
    align-items: $align;
}