@import '../../Tools/variables.scss';
@import '../../Tools/mixins.scss';

.error-box {
    align-self: center;
    @include flex ($direction: column, $justify: center, $align: center, $gap: 100px);
    p {
        @include text ($size: 36px);
    }
    .error-message {
        @include text ($size: 250px, $weight: $bold)
    }
    a {
        @include text
    }
    @media screen and (max-width: $small-desktop) {
        gap: 80px;
        p {
            font-size: 20px;
            width: 80%;
            text-align: center;
        }
        .error-message {
            font-size: 150px;
        }
        a {
            font-size: 16px;
        }
    }
    @media screen and (max-width: $mobile) {
        gap: 70px;
        p {
            font-size: 18px;
            width: 75%;
            text-align: center;
        }
        .error-message {
            font-size: 100px;
        }
        a {
            font-size: 14px;
        }
    }
}